#include "mtk64.dtsi"
#include "mtk64_trackball.dtsi"

&default_transform { row-offset = <7>; };

&xiao_serial { status = "disabled"; };

/* ここ全部コメントアウト（検証用） */
#if 0
&spi0 { status = "okay"; };
&trackball { status = "okay"; };
&trackball_split { device = <&trackball>; };
#endif
